.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  border-radius: 100px;
  width: 150px;
  background: linear-gradient(to right, #33251F, #001B28 90%);
  padding: 5px 15px;
}

.container::before {
  content: '';
  position: absolute;
  border-radius: 100px;
  z-index: -1;
  width: 102%;
  height: 107%;
  background: linear-gradient(to right, #F16529, rgba(213, 213, 213, 0.1) 70%);
}